[Unit]
Description=Assam Student Hub Daily Scrapers Service (Others)
After=network.target

[Service]
Type=oneshot
ExecStart=/home/asmodeus/Projects/assam-student-hub/scrapers/src/run_scrapers.sh daily
WorkingDirectory=/home/asmodeus/Projects/assam-student-hub/scrapers
StandardOutput=journal
StandardError=journal
